@import url('https://fonts.cdnfonts.com/css/airstrike');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}


body {
    display: block;

}

.section1,
.section4 {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/backgound-topo.png);
}

.logo {
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 100px;
}

.logo h3 {
    font-size: 30px;
    font-family: 'Righteous', cursive;
    text-align: center;
    letter-spacing: 3px;
}

.logo h5 {
    text-align: center;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.container {
    padding-top: 150px;
}

.menu {
    background-size: cover;
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-left: 0px;
}

.menu li {
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    align-items: center;
}

.menu li a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}



.menu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -8px;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.menu li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}


.section1 h4 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    width: 61%;
    margin-left: 100px;
    margin-bottom: 15px;
}

.section1 h1 {
    color: #fff;
    font-size: 42px;
    text-align: left;
    width: 70%;
    margin-left: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Airstrike', sans-serif;
    letter-spacing: 1px;
}

.section1 p {
    color: #fff;
    font-size: 18px;
    text-align: justify;
    margin: 20px 20px;
    width: 31.5%;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
}

#link-more {
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    background-color: #d43a2f;
    padding: 10px 10px;
    margin-left: 97px;
    margin-top: 10px;
    align-items: center;
    color: #FFFFFF;
}

.section3 {
    background-color: #FFFFFF;
}

.box-images {
    height: 100vh;
    text-align: center;
}

.box-images h2 {
    padding-top: 3%;
    font-size: 36px;
}

.box-img1,
.box-img2,
.box-img3,
.box-img4 {
    display: inline-block;
    padding: 0;
    margin-left: auto;
    margin-right: 7%;
    margin-top: 7%;
    font-weight: bold;
}

.box-img1:hover,
.box-img2:hover,
.box-img3:hover,
.box-img4:hover {
    color: #d43a2f;
    font-weight: bold;
    text-decoration: underline;
}

.section3 img {
    width: 150px;
    cursor: pointer;
}

.img1:hover {
    width: 150px;
    content: url(./img/img1-effects.png);
}

.img2:hover {
    width: 150px;
    content: url(./img/img2-effects.png);
}

.img3:hover {
    width: 150px;
    content: url(./img/img3-effects.png);
}

.img4:hover {
    width: 150px;
    content: url(./img/img4-effects.png);
}

footer {
    height: 30vh;
    background-color: black;
    display: block;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;

}

.box-rodape {
    display: block;

}

.links,
.contact,
.time {
    float: left;
    width: 33.3%;
    padding-top: 20px;
    color: #FFFFFF;
    line-height: 1.5;
}

.contact h2,
.time h2 {
    border-bottom: 1px;
    font-weight: bold;
    font-size: 20px;
}



.logo-redes {
    background-color: #d43a2f;
    width: 40px;
    padding: 5px;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
}

.logo-rodape {
    width: 150px;
}

.direitos {
    width: 100%;
    background-color: black;
  
    padding: 20px;

    color: #FFFFFF;
}

/**************************************PAGINA SOBRE********************************************/

.section4{
    height: auto;
    
}
.box-sobre {
     width: 80vw;
     padding: 10% 0.5%;
     display: block;
    margin: auto;
    padding-top: 10%;

   }
.sobre-conteudo{
    background-color: rgba(61, 79, 136, 0.4);
    padding: 20px;
    border-radius: 30px;
}
.box-sobre h2{
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
.box-sobre p{
    color: #FFFFFF;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.3;
}
